html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: Poppins;
}

p, a, span, li {
    font-family: Helvetica;
}

/* Latihan 1 */
.container-satu {
    max-width: 800px;
    /* margin: 50px auto; */
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;

    /* display: flex; */
}

.kolom-utama h2 {
    text-align: center;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}

/* Latihan 2 */
.container-dua {
    max-width: 800px;
    margin: 50px auto;
}

.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

.layanan.satu {
    background-color: rgb(100, 100, 226);
}

.layanan.dua {
    background-color: rgb(100, 226, 138);
}

.layanan.tiga {
    background-color: rgb(226, 100, 100);
}

/* Latihan 3 */
.container-tiga {
    max-width: 800px;
    margin: 50px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 50%;
}

.thumbnail img {
    width: 100%;
}

/* Latihan 4 */
.container-empat {
    max-width: 800px;
    margin: 50px auto;

    /* display: flex; */
}

.card {
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    /* margin: 10px; */
    flex: 1;
    margin-bottom: 20px;
}

.card .header {
    height: 150px;
    background-color: #666;
}

.card .content {
    text-align: center;
    padding-bottom: 20px;
}

/* .card.besar {
    transform: scale(1.12);
} */

/* Latihan 5 */
.container-lima {
    max-width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid black;

    display: flex;
}

.kotak {
    width: 100px;
    height: 100px;
    color: white;
    background-color: brown;
    text-align: center;

    margin: auto;

    display: flex;
}

.kotak span {
    margin: auto;
}

/* Todo Resposive min 600px = > 600px */
@media (min-width: 600px) {

    .container-satu, .container-dua, .container-tiga, .container-empat, .container-lima {
        margin-bottom: 30px;
    }

    .container-satu {
        display: flex;
        margin: 50px auto;
    }

    .container-dua {
        display: flex;
        justify-content: space-between;
    }

    .layanan {
        width: 30%;
    }

    .thumbnail {
        width: 25%;
    }

    .container-empat {
        display: flex;
        justify-content: space-between;
    }

    .card {
        margin: 0px 12px;
        margin-bottom: 0;
    }

    .card.besar {
        transform: scale(1.12);
    }

    .container-lima {
        display: flex;
    }
}